
.th {
    border-bottom: 1px solid black;
    height: 80px;
    vertical-align: middle;
}

.update {
    text-align: center;
    border-bottom: 1px solid black;
    height: 80px;
    vertical-align: middle;
}

table {
    border: 3px solid black;
  }

td {
    height: 60px;
    vertical-align: middle;
}
.btn {
    width: 70px;
}


