.form-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 40px;
    background-color: #f8f5f5;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  }

  .form-group {
    position: relative;
  }

  .input-group-text {
    background-color: #f8f9fa;
    color: #007bff; /* Primary blue color */
    cursor: pointer;
  }
  
  .input-group-text:hover {
    color: #0056b3; /* Darker primary blue on hover */
  }

